<% if current_user.readwrite == true -%>
  <div class="section_box">
    <%= render(:partial => "search/bulk_tag", :locals => { :heading => "Unclassified Nodes", :nodes => @unclassified_nodes, :tags => @tags }) %>
  </div>
<% end -%>

<div id="treecontrol">
  <a title="Collapse the entire tree below" href="#"><img src="../images/treeview/minus.gif" /> Collapse All</a>
  <a title="Expand the entire tree below" href="#"><img src="../images/treeview/plus.gif" /> Expand All</a>
  <a title="Toggle the tree below, opening closed branches, closing open branches" href="#">Toggle All</a>
</div>
<ul id="gray" class="treeview-gray">
  
<%= render :partial => "nodes/tree_list", :locals => { :nodes => @root_nodes, :visible => true } %>

</ul>
